body, .row {
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: normal;
}

h1, .importpage h1, .container h1, .container h4 {
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 300;
    display: inline;
}

select {width:100%;}

.hint {
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 300;
    font-style: italic;
}

#aimlogo {
    width: 200px;
}

#topnav {
    float:right;
    text-transform: none;
    letter-spacing: normal;
    display:inline;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: normal;
}

#edit-form {
    display: none;
}

.searchbox {
    text-align: center;
    padding-top:150px;
    padding-bottom: 150px;
}

.search-results {
    max-height: 550px;
    overflow: auto;
}

.search-results ul, .quicklinks ul {
    list-style-type: none;
    padding:0;
    margin:0;

}

#courselist .row {
    margin:0;
    border-bottom:1px solid #dcdcec;
}

#courselist .row:hover, .home-nav div:hover{
    color:#fff;
    background-color: #428bca;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    cursor: pointer;
}

#search-input-group {
    width:100%;
    padding:10px 0px 10px 15px;
}

#search-ico{
    padding-right: 10px;
}

#search-field {
    border:0;
    padding:10px;
    color:#777;
    background: none;
    -webkit-box-shadow: none;
    -box-shadow: none;
}

#search-field:hover {
    color:white;
    cursor: pointer;
}

.search-results li, .quicklinks li{
    border-bottom:1px solid #dcdcec;
}

.search-results li:hover,
.search-results li a:hover,
.blue-button:hover,
.quicklinks li a:hover,
.blue-hover:hover{
    color:#fff;
    background-color: #428bca;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
}



.search-results li a, .quicklinks li a {
    padding:10px;
    display: block;
}

.editlink {float:right; display: inline-block}

.importpage {
    display:none;
    min-height: 60%;
}

.maincontent {
    padding-bottom: 50px;
}

.content {
    padding-top:30px;
    border-top:1px solid #dcdcec;
    padding-bottom:100px;
}

.copyrights {
    text-align: center;
    color: #777;
}

#centered {
    position:fixed;
    top: 100px;
    width: 100%;
}
#login {
    margin-left: auto;
    margin-right: auto;
    min-width: 250px;
    max-width: 400px;
    border: 1px solid #dcdcec;
    padding: 40px 80px;
}


.blue-button {
    width: 100%;
    height: 45px;
    font-size: 14px ;
    background-color: #dcdcec;
}

.year {
    width: 4em;
}

